.attachments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.attachments__container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 4px;
}

.attachment {
  display: inline-flex;
}

.attachment__name {
  color: var(--accent1);
  text-decoration: none;
}

.attachment__name:hover {
  text-decoration: underline;
}

.attachment__name:active {
  color: var(--white);
}

.attachment__delete {
  opacity: 0;
  background-color: transparent;
  border: none;
  color: var(--accent1);
  padding: 0px;

  cursor: pointer;
}

.attachment:hover .attachment__delete {
  opacity: 0.5;
}

.attachment:hover .attachment__delete:hover {
  opacity: 1;
}

.attachment__delete:active {
  color: var(--white);
}

.attachments__submit {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.attachments__submit__file {
}

.attachments__submit__button {
}
